<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "utf-8">
    <meta name =" viewport" content ="width = device-width, initial-scale = 1.0">
    <title>Crear Tarea</title>
    <link rel = "stylesheet" href = ../css/styles.css>

</head>

<body>
    <div class = "container">
        <h1>Actualizar Tarea </h1>
        <table id="TareaTabla" >
            <thead>
                <tr>
                    <th>id</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>fecha creacion</th>
                    <th>fecha Limite</th>
                    <th>prioridad</th>
                </tr>
            </thead>
            <tbody id ="tareasContainer">
            </tbody >
        </table>
    </div>
    <script src ="../scripts/listarTareas.js"></script>
</body>
</html>




